.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 80px;
  z-index: 2;
  &__nav {
    display: flex;
    align-items: center;
    align-content: center;
  }
  h2 {
    font-size: $h2;
    color: $white;
    font-weight: 400;
  }
}
