.form {
  width: 420px;

  h2 {
    font-weight: 300;
    margin-bottom: 1rem;
    font-size: $h2;
  }

  input,
  select,
  button {
    width: 100%;
    margin: 0.5rem 0;
    position: relative;
    padding: 0.8rem;
  }

  button {
    margin-top: 2rem;
  }
}
