.footer {
  width: 100%;
  border-top: 1px dotted $gray;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;

  @include respond(mobile) {
    display: block;
    padding: 0 1rem;
  }

  ul.navigation__list {
    padding: 0;
    a {
      color: $gray;
      font-weight: normal;
      font-size: $small;
      position: relative;
      @include itemDecoration($gray);
      &:hover {
        opacity: 0.7;
      }
    }
    li:first-child {
      padding: 0 0px;
    }
  }

  &__social-media {
    padding: 0;
    margin: 0;
    p {
      font-size: $small;
      font-weight: 300;
    }
    ul {
      display: flex;
      align-items: center;
      align-content: center;

      li:nth-child(2) {
        padding: 0 2rem 0 1rem;
      }

      img {
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
