.thumb {
  svg {
    fill: $white;
    width: 2rem;
  }

  button {
    height: 81px;
    cursor: pointer;

    @include respond(tablet) {
      height: 51px;
    }

    @include respond(mobile) {
      height: 51px;
    }
  }

  &--green {
    button {
      background-color: rgba($green, 0.9);
      filter: contrast(120%);
    }
  }

  &--orange {
    button {
      background-color: rgba($yellow, 0.9);
      filter: contrast(100%);
    }
  }
}
