.navigation {
	padding: 0;

	&__list {
		display: flex;

		@include respond(mobile) {
			justify-content: space-evenly;
			align-items: center;
			align-content: center;
		}
	}

	&__search {
		cursor: pointer;
		padding-left: 48px;
		svg {
			height: 28px;
			fill: white;
		}
	}

	li {
		padding: 0 27px;
		a {
			color: $white;
			font-weight: 300;
			font-size: $normal;
			position: relative;
			@include itemDecoration($white);

			@include respond(mobile) {
				span {
					font-size: $x-small;
					text-align: center;
				}
			}
		}
		&:last-child {
			padding-right: 0;
		}
	}
}
