// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

// Font Variables
$Lato: "Roboto", serif;

// colors
$yellow: hsl(38.2, 100%, 60%);
$green: hsl(177, 61.2%, 45.5%);
$light-gray: #ebebeb;
$gray: #333333;
$white: #ffffff;

// font-sizes

$h1: 3.8rem;
$h2: 1.8rem;

$x-small: 0.7rem;
$small: 0.95rem;
$normal: 1rem;
$main-body: 1.2rem;

// sixing
$upper-mg: 35px;
$side-mg: 30px;

$themeColor-Light: #f3e2c7;
$themeColor-Dark: #b68d4c;

$theme-font: verdana, sans-serif;
