.votes {
  h2 {
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 1;

    @include respond(mobile) {
      font-size: $h2;
    }
  }

  &__card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond(mobile) {
      display: block;
    }
  }

  &__title-section {
    @include respond(tablet) {
      text-align: center;
    }
    @include respond(mobile) {
      text-align: center;
      margin-top: 30px;
    }
  }
}
